<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>디바이스 별 기기 총 대수 조회</h1>
<form action="/api/v1/search/single" method="post" th:object="${singleRequestDto}" id="form">
  <label for="deviceId">디바이스</label>
  <select id="deviceId" name="deviceId">
    <option value="---퓨리움---" disabled>---퓨리움---</option>
    <option value="PURIUM-90000P" >90000P</option>
    <option value="PURIUM-91000P" >91000P</option>
    <option value="PURIUM-10000P" >10000P</option>
    <option value="PURIUM-50000PB" >50000PB</option>
    <option value="PURIUM-10000PB" >10000PB</option>
    <option value="PURIUM-10000B" >10000B</option>
    <option value="PURIUM-20000B" >20000B</option>
    <option value="PURIUM-20010B" >20010B</option>
    <option value="PURIUM-30000P" >30000P</option>
    <option value="PURIUM-30010P" >30010P</option>
    <option value="PURIUM-50000P" >50000P</option>
    <option value="PURIUM-30000B" >30000B</option>
    <option value="---포레---" disabled>---포레---</option>
    <option value="PORE-ECP800" >ECP800</option>
    <option value="PORE-ECP900" >ECP900</option>
    <option value="PORE-ECP700" >ECP700</option>
    <option value="PORE-FG_AWM240" >FG_AWM240</option>
    <option value="---위니아---" disabled>---위니아---</option>
    <option value="WINIA-D2102" >D2102</option>
    <option value="WINIA-D2101" >D2101</option>
  </select>
  <label for="startDate">시작 날짜</label>
  <input type="date" id="startDate" name="startDate">
  <label for="endDate">종료 날짜</label>
  <input type="date" id="endDate" name="endDate">
  <button type="button" onclick="validateAndSubmit()">검색</button>
</form>

<script>
  // JavaScript로 endDate 필드 초기화 및 유효성 검증 함수 정의
  document.addEventListener('DOMContentLoaded', function() {
    var endDateInput = document.getElementById('endDate');
    endDateInput.value = new Date().toISOString().substr(0, 10); // 오늘 날짜로 초기화
  });

  function validateAndSubmit() {
    var startDate = document.getElementById('startDate').value;
    var endDate = document.getElementById('endDate').value;

    // 시작 날짜와 종료 날짜가 비어있는 경우
    if (!startDate || !endDate) {
      alert('시작 날짜와 종료 날짜를 모두 선택해야 합니다.');
      return;
    }

    // 시작 날짜가 종료 날짜보다 큰 경우
    if (startDate > endDate) {
      alert('종료 날짜는 시작 날짜 이후여야 합니다.');
      return;
    }

    // 검증 통과 시 form을 제출
    document.getElementById('form').submit();
  }
</script>
</body>
</html>
